<ion-view title="Elecciones 2014" class="bar-positive">

    <div class="content has-header">
        <div class="list">
            <label class="item item-input item-floating-label">
                <span class="input-label">Usuario</span>
                <input type="text" placeholder="Usuario">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Clave</span>
                <input type="password" placeholder="clave">
            </label>
        </div>
        <div class="padding">
            <button class="button button-block button-positive"
                    ng-click="login.ingresar()">Ingresar</button>
        </div>
        <div class="list">
            <p>Error message</p>
        </div>
    </div>
</ion-view>